/* External CSS */

/*CSS Variables*/
:root {
  --primarycolor : #4C5F6B;
  --secondarycolor:#2B3D41;
  --accentcolor:#83A0A0;
  --sizingsmall:5px;
  --sizingmedium:8px;
  --sizingLarge:20px;

  --primaryFontFamily:Times;
  --secondaryFontFamily:helvetica;

}

/*Global CSS*/
.fullscreen {
  min-width: 100vh;
}

.cardWidth {
  max-width: 300px;
}

.split {
  width: 50%;
}

.flexRowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listNoDot {
  list-style-type: none;
}

/* body is a CSS Selector */
/* {} idicates a CSS Declaration */
body {
  /* property:value; is a CSS Rule */
  background-color: var(---primarycolor);
  color: #0d0d0d;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--sizingsmall);
  border-bottom:var(--sizingsmall) solid var(--secondarycolor);


}

.headerLogo {
  padding: 8px;
  border: 2px solid black;
  border-radius: 50%;
}

ul {
  display: flex;
  justify-content: end;
  gap: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* MAIN */


/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  border-top:var(--sizingmedium) var(--secondarycolor);
}
